html {
  /* background-image: url("PD Heavy Metal Image.jpg"); */
  background: url("HeavyMetalTest.jpeg") no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  font-size: 16pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: White;

  text-align: center;
  margin: 40px auto;
  max-width: 800px;
  padding: 0 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h1 {

  font: 30pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

form {
  margin-top: 25px;
  margin-bottom: 25px;
}

#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#label {
    width: 100px;
    float: left;
    height: 300px;
        background-color: blue;
}
#input {
    width: 200px;
    float: left;
    height: 300px;
    background-color: green;
}
#clear {
    clear: both;
}

.main-content {
  z-index: 10;
}

.description {
  color: #fff;
  font-size: 12pt;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.label{
  color: #fff;
  font-size: 12pt;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.paragraph-number {
  font-size: 12pt;
  max-width: 80px;
  margin: 0;
  margin-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 40px;
  transition: box-shadow 1s;
}

.generate-button,
.copy-button {
  padding: 10px 25px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  line-height: 1.25;
  background: #595957;
  text-decoration: none;
  color: white;
  font-size: 12pt;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:focus,
  &:hover {
      background: darken(#FC6E51,7%);
  }
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}

.generated-text {
  padding: 20px;
  color: #313131;
  background-color: #fff;
  box-shadow: #fff 0px 0px 5px 4px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.generated-text p {
  font-size: 16px;
  text-align: left;
  animation: fadein 1s;
}

.generated-text p:first-child {
  margin-top: 0;
}

.generated-text p:last-child {
  margin-bottom: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#copyOverlay {
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  left: 0;
  height: 100vh;
  z-index: 100;
}

#copyText {
  margin-top: 40vh;
}

#copyText p {
  font-size: 30px;
  color: White;
}
