body {

  font-size: 10pt;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

  color: black;

  line-height: 14pt;

  padding-left: 20pt;

  padding-right: 20pt;

  padding-top: 75pt;

  padding-bottom: 20pt;

  background-image: url("HeavyMetalTest.jpeg");

}


h1 {
  text-align: center;

  font: 30pt Verdana, Geneva, Arial, Helvetica, sans-serif;

  font-weight: bold;

  line-height: 20pt;

  color: white;

  padding-left: 10;

  padding-right: 10;

  padding-top: 0;

  padding-bottom: 20pt;

}


p {
  font: 20pt;

  text-align: center;

  font-weight: bold;

  color: white;
}

div {
  text-align: center;

  font-size: 9pt;

  font-style: italic;

  line-height: 12pt;

  text-align: center;
}

#paragraphs {

  padding-left: 200pt;

  padding-right: 200pt;

  padding-top: 20pt;

  padding-bottom: 20pt;
}
